#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if NETUTILS_MQTT

config EXAMPLES_MQTTPUB
	bool "MQTT Client Publisher Example"
	default n
	---help---
		Enable the MQTT client publisher example

endif
