#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_SOCKETTEST
	bool "Socket Test example"
	default n
	---help---
		Enable the socket test example
