#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_STM32_LEACH

choice
	prompt "Select board version"
	default LEACH_MINI
	---help---
		Select the board hosting the architure.  You must first select the
		exact MCU part number, then the boards supporting that part will
		be available for selection.  Use ARCH_BOARD_CUSTOM to create a new
		board configuration.

config LEACH_NORMAL
	bool "Select leach normal version"
	default y
	---help---
		This version is the normal leach board.

config LEACH_MINI
	bool "Select leach mini version"
	default n
	---help---
		This version is a mini layout of the normal one.
		It has different bootloader, memory size, and pin layout.

endchoice

endif
